Działając na zbiorze należy dla każdej wytwórni, każdego artysty, w każdej dekadzie, wyznaczyć liczbę
wydanych płyt oraz lista różnych gatunków, których te płyty dotyczyły. <br> <br>
W wynikowym zbiorze (3) powinny znaleźć się atrybuty:
- identyfikator wytwórni
- identyfikator artysty
- nazwa artysty
- dekada
- liczba wydanych płyt
- lista różnych gatunków na wydanych płytach

In [1]:
import pandas as pd
import numpy as np

columns = ['id', 'release_id', 'status', 'title', 'artist_id', 'artist_name', 'label_id', 'format', 'genre', 'style', 'country', 'release_date', '?']
df = pd.read_csv('test0.csv', header=None, names=columns)
df.reset_index(drop=True, inplace=True)
df['decade'] = df['release_date'] // 10 * 10
grouped = df.groupby(['label_id', 'artist_id', 'decade'])

In [2]:
def custom_agg(series):
    num_records = series['id'].nunique()
    unique_genres = series['genre'].unique()
    artist_name = series['artist_name'].iloc[0]
    return pd.Series({'artist_name': artist_name, 'num_records': num_records, 'unique_genres': unique_genres})

result = grouped.apply(custom_agg).reset_index()

In [4]:
result[result.num_records == result.num_records.max()].unique_genres.values[0]

array(['Electronic', 'Pop', 'Non-Music', 'Classical', 'Rock', 'Jazz',
       'Stage & Screen', 'Brass & Military', 'Reggae', 'Hip Hop',
       'Folk, World, & Country'], dtype=object)

In [6]:
result

,label_id,artist_id,decade,artist_name,num_records,unique_genres
0,1,173,1990,Common Factor,1,[Electronic]
1,1,194,1990,Various,1,[Electronic]
2,1,1706,1990,Paperclip People,1,[Electronic]
3,1,3255,2000,Designer Music,1,[Electronic]
4,6,18231,1990,Fugees,1,[Hip Hop]
...,...,...,...,...,...,...
51511,3272121,13031346,1980,Squeeze Play,1,[Rock]
51512,3274611,537204,1990,Sfumato,1,[Electronic]
51513,3276255,194,1970,Various,1,[Rock]
51514,3280047,13060059,1980,Voices Of Joy & Company,1,[Funk / Soul]
51515,3284613,12919505,1970,Brian Todd & Whiplash,1,[Rock]