Działając na zbiorze należy dla każdej wytwórni, każdego artysty, w każdej dekadzie, wyznaczyć liczbę
wydanych płyt oraz lista różnych gatunków, których te płyty dotyczyły. <br> <br>
W wynikowym zbiorze (3) powinny znaleźć się atrybuty:
- identyfikator wytwórni
- identyfikator artysty
- nazwa artysty
- dekada
- liczba wydanych płyt
- lista różnych gatunków na wydanych płytach
 <br> <br>
 
 Realizację projektu można podzielić na kilka faz (w nawiasach podano terminy, których będziemy chcieli się trzymać)

    Implementację pierwszej części tego projektu opartej na MapReduce (25.10)
    Implementację drugiej części opartej na platformie Hive (01.11)
    Implementację orkiestracji całego przepływu danych (obejmującej obie powyższe części) (02-03.11) - zrobimy to w ramach zajęć
    Rejestrację rozwiązań (02-10.11)
    Ocenę cudzych rozwiązań (11-17.11)

In [1]:
import pandas as pd
import numpy as np

columns = ['id', 'release_id', 'status', 'title', 'artist_id', 'artist_name', 'label_id', 'format', 'genre', 'style', 'country', 'release_date', '?']
df = pd.read_csv('test0.csv', header=None, names=columns)
df.reset_index(drop=True, inplace=True)
df['decade'] = df['release_date'] // 10 * 10
grouped = df.groupby(['label_id', 'artist_id', 'decade'])

In [2]:
def custom_agg(series):
    num_records = series['id'].nunique()
    unique_genres = series['genre'].unique()
    artist_name = series['artist_name'].iloc[0]
    return pd.Series({'artist_name': artist_name, 'num_records': num_records, 'unique_genres': unique_genres})

result = grouped.apply(custom_agg).reset_index()

In [3]:
result[result.num_records == result.num_records.max()].unique_genres.values[0]

array(['Electronic', 'Pop', 'Non-Music', 'Classical', 'Rock', 'Jazz',
       'Stage & Screen', 'Brass & Military', 'Reggae', 'Hip Hop',
       'Folk, World, & Country'], dtype=object)

In [4]:
no = result[result.num_records == result.num_records.max()]
no
# w MapReduce jest 62 -> do sprawdzenia

,label_id,artist_id,decade,artist_name,num_records,unique_genres
7255,1818,194,1990,Various,63,"[Electronic, Pop, Non-Music, Classical, Rock, ..."

In [6]:
len(result[result['artist_name']=='Led Zeppelin'])
# MapReduce to samo

26